<div class="container">
  <h1>Sign in</h1>
  <%= form_tag login_path do %> <%# can't use helpers for a form_tag, only a form_for so have to write manually %>
  <div class="form-row">
    <h2><%= flash[:error] %></h2>
    <div class="form-col">
    </div>
    <div class="form-col">
    <%= label_tag :email %>
  </div>
  <div class="form-col">
    <%= email_field_tag :email %>
  </div>
  <div class="form-col">
    <%= label_tag :password %>
  </div>
  <div class="form-col">
    <%= password_field_tag :password %>
  </div>

<div class="form-col">
  <%= submit_tag 'Log in' %>
</div>

  </div>
  <% end %>

</div>
