<div class="container">

  <% if @current_user.id === @user.id %>
  <h1>My Profile</h1>
  <% else %>
  <h1><%= "#{@user.name} #{@user.surname}" %></h1>
  <% end %>  <%# Shows 'My profile' if the profile belongs to the current_user, if not then show the name of the user. %>

  <div class="card" style="width: 50rem;">
    <div class="card-image">
      <% unless @user.image.nil? %>
      <%= link_to image_tag(@user.image, :alt => @user.name, :title => @user.name) %>
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-text"><span>Name: </span><%= @user.name %></p>
      <p class="card-text"><span>Surname: </span><%= @user.surname %></p>
      <p class="card-text"><span>Role: </span><%= @user.role %></p>
      <p class="card-text"><span>Subjects Studied: </span><%= @user.field %></p>
      <p class="card-text"><span>Hobbies: </span><%= @user.hobbies %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>Phone: </span><%= @user.phone %></li>
      <li class="list-group-item"><span>Email: </span><%= @user.email %></li>
    </ul>
    <div class="card-body">
      <div class="card-link">
        <% if @current_user.id === @user.id %>
          <%= link_to 'Edit', edit_user_path(@user), :class => 'anchors' %> <%# only show the edit link if the user that they're looking at is equal to the current_user, don't let logged in user edit anyone else's profile. %>
        <% end %>
      </div>
    </div>
  </div>


  <% unless @user.works.empty? %>
    <h3>Works </h3>
    <div class="userworks-favs">
  <% @user.works.each do |work| %>
    <% if work.image.present? %>
      <ul>
        <p><%= link_to image_tag(work.image, :alt => work.title, :class => 'img-thumbnail'), work, :alt => work.title, :title => work.title %>
        </p>
      </ul>
    <% else %>
      <ul>
        <p>
      <%= link_to work.title, work, :class => 'anchors' %>
    </p>
      </ul>
    <% end %>
  <% end %>
<% end %>
</div>

    <% unless @favourites.empty? %>
      <h3>Favourite Works </h3>
        <div class="userworks-favs">
      <% @favourites.each do |favourite| %>
        <% if favourite.work.image.present? %>
          <ul>
            <p>
              <%= link_to image_tag(favourite.work.image, :alt =>favourite.work.title, :class => 'img-thumbnail'), favourite.work, :alt => favourite.work.title, :title => favourite.work.title %>
            </p>
          </ul>
          <% else %>
          <ul>
            <p>
              <%= link_to favourite.work.title, favourite.work, :class => 'anchors'%>
            </p>
          </ul>
          <% end %>
      <% end %>
      </div>
    <% end %>
</div>
